h2 {
    margin: 10px 0px 15px 15px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

    .nav-list li {
        float: left;
    }

        .nav-list li a,
        .drop-btn {
            display: inline-block;
            color: #FFFFFF;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .nav-list li a:hover,
            .nav-dropdown:hover .drop-btn {
                background-color: #111111;
            }

li.nav-dropdown {
    display: inline-block;
}

.nav-list li .drop-items {
    display: none;
    position: absolute;
    color: #111111;
    background-color: #F9F9F9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .nav-list li .drop-items a {
        color: #111111;
        padding: 12px 16px;
        text-decoration: none;
        display: inline-block;
        text-align: left;
    }

        .nav-list li .drop-items a:hover {
            background-color: #F1F1F1;
        }

.nav-dropdown:hover .drop-items {
    display: block;
}
